.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
.app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
  }
  

  
  
  
  
  